<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="Voltar" style="color: black;"></ion-back-button>
        </ion-buttons>
        <ion-img class="logo" src="../../assets/inicio/logo.png"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-title>Amazonas</ion-title>

    <div class="imagem-container">
        <img src="../../../assets/estados/AM.png" alt="Imagem de Amazonas">
    </div>

    <div id="offline-alert" class="offline-alert">
        ⚠️ Você está offline. O mapa pode não funcionar corretamente.
    </div>

    <div class="mapa-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8153251.190370963!2d-64.9476566!3d-3.7928200000000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92183f5c8b1d6ed1%3A0x176d6af66b3c2efa!2sAmazonas!5e0!3m2!1spt-BR!2sbr!4v1744668921323!5m2!1spt-BR!2sbr"
            sandbox="allow-scripts allow-same-origin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <ion-card>
        <ion-card-header>
            <ion-card-title>O estado do Amazonas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-text>
                <p>O estado do Amazonas, localizado no coração da Amazônia brasileira, é conhecido por sua vasta biodiversidade, por suas imensas florestas tropicais e por ser um centro econômico crucial para o Brasil e para o mundo. Sua economia é marcada
                    por sua diversidade de recursos naturais, agropecuária, indústria e atividades extrativistas. A riqueza cultural e natural da região é uma grande vantagem, mas também traz desafios para seu desenvolvimento sustentável.</p>
            </ion-text>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>O que mais se produz no Amazonas?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-text>
                <p>A economia do Amazonas é diversificada, com destaque para a agricultura, o extrativismo e a indústria. Vamos explorar mais a fundo os produtos mais importantes e a contribuição deles para o estado:</p>
            </ion-text>
            <ion-card-subtitle>Produtos Agrícolas</ion-card-subtitle>
            <ion-text>
                <ul>
                    <li><strong>Açaí</strong>: O Amazonas é responsável por mais de 70% da produção mundial de açaí. Seu uso crescente tanto no Brasil quanto no exterior como alimento saudável, em sucos e até mesmo em cosméticos, tem impulsionado a economia
                        local.
                    </li>
                    <li><strong>Castanha-do-brasil</strong>: O Amazonas é o maior produtor mundial da castanha-do-brasil, e os produtores da região são responsáveis por uma quantidade significativa de exportações. Ela é usada tanto para consumo direto quanto
                        para a produção de óleos essenciais e cosméticos.</li>
                    <li><strong>Guaraná</strong>: Utilizado principalmente em bebidas energéticas e suplementos alimentares, o guaraná é um dos principais produtos agrícolas do Amazonas. A produção é tão relevante que o estado fornece mais de 90% do guaraná
                        consumido no Brasil.</li>
                    <li><strong>Frutas Tropicais</strong>: Além do açaí, o Amazonas é grande produtor de frutas tropicais como banana, melancia, abacaxi e cacau. Estas frutas são tanto consumidas localmente quanto exportadas para outros estados e países.</li>
                </ul>
            </ion-text>
            <ion-card-subtitle>Extrativismo</ion-card-subtitle>
            <ion-text>
                <ul>
                    <li><strong>Madeira e Óleos Essenciais</strong>: A extração de madeira, especialmente de árvores como a maçaranduba e a castanheira, ainda é uma importante fonte de receita, apesar dos desafios ambientais. Além disso, os óleos essenciais
                        de copaíba, andiroba e breu são amplamente utilizados na indústria de cosméticos e medicamentos naturais.</li>
                    <li><strong>Pesca Ornamental</strong>: O Amazonas é o maior exportador de peixes ornamentais do mundo. A pesca de espécies como o peixe-betta, o disco e o tetra é uma atividade importante para a economia local, com destino principalmente
                        ao Japão e aos Estados Unidos.</li>
                </ul>
            </ion-text>
        </ion-card-content>
        <ion-card-content>
            <img src="../../../assets/img-estados/img-amazonas00.jpg" alt="Floresta Amazônica" />
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Quantidade de Produtos Produzidos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-text>
                <p>O Amazonas é responsável por uma quantidade considerável de produtos que são essenciais para o Brasil e o mundo. A produção local é de enorme impacto na economia, gerando empregos e receitas para o estado.</p>
            </ion-text>
            <ion-text>
                <ul>
                    <li><strong>Açaí</strong>: Cerca de 6,1 milhões de toneladas produzidas anualmente, com a maior parte da produção concentrada no interior do estado, nas cidades de Maués e Itacoatiara.</li>
                    <li><strong>Castanha-do-brasil</strong>: Mais de 70 mil toneladas de castanhas são produzidas a cada ano no Amazonas, colocando o estado como líder absoluto na produção dessa commodity.</li>
                    <li><strong>Guaraná</strong>: O Amazonas é responsável por mais de 90% da produção nacional de guaraná, com grande parte sendo cultivada na região de Maués e Barcelos.</li>
                    <li><strong>Pesca Ornamentais</strong>: Mais de 20 milhões de peixes ornamentais são exportados do Amazonas anualmente, representando um mercado robusto que movimenta bilhões de reais.</li>
                </ul>
            </ion-text>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Geração de Riqueza no Amazonas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-text>
                <p>A riqueza do Amazonas está diretamente ligada aos seus recursos naturais, e essa abundância tem um impacto profundo na economia local. Vamos explorar como os principais produtos da região geram riqueza para o estado e o Brasil.</p>
            </ion-text>
            <ion-card-subtitle>Setores-chave para Geração de Riqueza</ion-card-subtitle>
            <ion-text>
                <ul>
                    <li><strong>Açaí</strong>: Em 2023, o valor da produção de açaí foi de aproximadamente R$ 8,1 bilhões. A crescente demanda por esse fruto, tanto no Brasil quanto no exterior, tem impulsionado a produção e a economia regional.</li>
                    <li><strong>Pesca Ornamental</strong>: A exportação de peixes ornamentais para mercados internacionais, especialmente o Japão, representa uma movimentação de R$ 400 milhões para a economia do estado. O mercado de peixes ornamentais continua
                        a crescer a cada ano, com novos nichos sendo explorados.</li>
                    <li><strong>Zona Franca de Manaus</strong>: A Zona Franca de Manaus é o motor industrial do Amazonas, com uma produção anual de produtos como motocicletas, eletrodomésticos e componentes eletrônicos. Em 2020, a Zona Franca de Manaus gerou
                        cerca de R$ 100 bilhões em faturamento. Além disso, ela oferece emprego para milhares de pessoas, especialmente na capital, Manaus.</li>
                    <li><strong>Agropecuária</strong>: O setor agropecuário também tem grande impacto econômico. Em cidades como Itacoatiara e Lábrea, a produção de carne, leite e grãos movimenta bilhões de reais, com o estado sendo um dos maiores produtores
                        de carne bovina do Norte do Brasil.</li>
                </ul>
            </ion-text>
        </ion-card-content>
        <ion-card-content>
            <img src="../../../assets/img-estados/img-amazonas01.jpg" alt="Floresta Amazônica" />
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>03 Maiores Clientes (Exportações)</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-text>
                <p>A economia do Amazonas não seria tão robusta sem o comércio exterior. O estado exporta uma variedade de produtos para países ao redor do mundo, o que tem contribuído para seu crescimento. Entre os principais clientes estão:</p>
            </ion-text>
            <ion-text>
                <ul>
                    <li><strong>Japão</strong>: O Japão é o maior importador de peixes ornamentais do Amazonas. Com uma cultura de pesca ornamental extremamente forte, o país compra milhões de peixes a cada ano.</li>
                    <li><strong>China</strong>: A China é o maior comprador de madeira do Amazonas, além de importar produtos agrícolas como grãos, frutas e óleo de palma.</li>
                    <li><strong>Estados Unidos</strong>: Os Estados Unidos importam uma grande quantidade de guaraná, óleos essenciais, além de itens alimentícios como castanha-do-brasil e café.</li>
                </ul>
            </ion-text>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Principais Cidades do Amazonas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-text>
                <p>O Amazonas é um estado grande e diversificado, e suas cidades desempenham papéis cruciais em sua economia. Algumas das cidades mais relevantes são:</p>
            </ion-text>
            <ion-text>
                <ul>
                    <li><strong>Manaus</strong>: A capital do estado, Manaus, é o maior centro econômico e industrial do Amazonas. A Zona Franca de Manaus é um polo de produção e geração de empregos, com indústrias de tecnologia, motocicletas, componentes
                        eletrônicos e mais. A cidade também é um ponto turístico importante, sendo a porta de entrada para a floresta amazônica.</li>
                    <li><strong>Coari</strong>: Famosa por ser um dos maiores centros produtores de petróleo e gás natural da região, Coari também tem uma economia forte no setor agropecuário, com grande produção de leite e carne.</li>
                    <li><strong>Itacoatiara</strong>: Com uma economia baseada na agropecuária, Itacoatiara é uma das cidades mais importantes para a produção de grãos, como milho, soja e feijão, além de ter uma forte produção de frutas tropicais.</li>
                    <li><strong>Barcelos</strong>: Conhecida pela pesca ornamental, Barcelos tem se destacado no cenário internacional, especialmente na exportação de peixes exóticos e ornamentais. A cidade também é um importante destino ecoturístico.</li>
                    <li><strong>Iranduba</strong>: Localizada próxima a Manaus, Iranduba tem se consolidado como um polo de produção de hortifrutigranjeiros, com destaque para o cultivo de frutas como melancia, banana e laranja.</li>
                </ul>
            </ion-text>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Desafios e Oportunidades para o Amazonas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-text>
                <p>Embora o Amazonas tenha um grande potencial econômico, o estado enfrenta vários desafios. A exploração descontrolada da floresta, o desmatamento e as questões sociais como a falta de infraestrutura e a pobreza ainda são problemas sérios.
                    O desafio é encontrar formas de equilibrar o desenvolvimento econômico com a preservação ambiental.</p>
            </ion-text>
            <ion-text>
                <p>Por outro lado, o Amazonas também possui inúmeras oportunidades, principalmente nas áreas de turismo sustentável, bioeconomia e energias renováveis. Com sua vasta biodiversidade, o estado pode se tornar um centro de inovação em bioenergia
                    e produtos sustentáveis, que podem gerar novas oportunidades de trabalho e renda para as comunidades locais.</p>
            </ion-text>
            <img src="../../../assets/img-estados/img-amazonas02.jpg" alt="Floresta Amazônica" />
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <canvas #mangueCanvas width="600" height="220"></canvas>
        </ion-card-content>
    </ion-card>
</ion-content>