<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="Voltar" style="color: black;"></ion-back-button>
        </ion-buttons>
        <ion-img class="logo" src="../../assets/inicio/logo.png"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-title>Pará</ion-title>

    <div class="imagem-container">
        <img src="../../../assets/estados/PA.png" alt="Imagem de Pará">
    </div>

    <div id="offline-alert" class="offline-alert">
        ⚠️ Você está offline. O mapa pode não funcionar corretamente.
    </div>

    <div class="mapa-container"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8154961.313751382!2d-52.47987655!3d-3.6069964499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9288f999ac2c0997%3A0x315ec83ee755f30a!2zUGFyw6E!5e0!3m2!1spt-BR!2sbr!4v1744669131849!5m2!1spt-BR!2sbr"
            sandbox="allow-scripts allow-same-origin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Sobre o Pará</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            O estado do Pará, localizado na Região Norte do Brasil, é um dos maiores produtores agrícolas do país. Sua economia é fortemente baseada em produtos como açaí, mandioca, cacau e soja, entre outros, que são cultivados nas diversas regiões do estado. A
            agricultura do Pará abrange desde pequenas produções familiares até grandes propriedades voltadas para o agronegócio, com uma forte exportação de seus produtos.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>🌿 Região Norte do Pará</ion-card-title>
            <ion-card-subtitle>A Região Norte do Pará é uma área caracterizada pela agricultura familiar e pela exploração sustentável de produtos da biodiversidade amazônica.</ion-card-subtitle>
        </ion-card-header>
    </ion-card>

    <ion-list>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Feijão</ion-card-title>
                <ion-card-subtitle>Descrição, Principais Clientes e Cidades Relevantes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                Produção: Aproximadamente 200 mil toneladas <br><br> Descrição: Produto básico da alimentação local, utilizado em diversas receitas típicas. <br><br> Principais Clientes: Belém (PA), São Paulo (SP), Recife (PE) <br><br> Cidades Relevantes:
                Santarém (PA), Almeirim (PA)
            </ion-card-content>
            <ion-card-content>
                <img alt="Imagem de feijão" src="../../../assets/img-estados/img-para00.jpg" />
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Açaí</ion-card-title>
                <ion-card-subtitle>Descrição, Principais Clientes e Cidades Relevantes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                Produção: 1,6 milhão de toneladas <br><br> Valor gerado: R$ 5,93 bilhões <br><br> Descrição: Produto típico da região amazônica, com alta demanda no Brasil e no exterior. Produzido de forma sustentável. <br><br> Principais Clientes: São
                Paulo (SP), Nova York (EUA), Paris (França) <br><br> Cidades Relevantes: Belém (PA), Santarém (PA)
            </ion-card-content>
            <ion-card-content>
                <img alt="Açaí" src="../../../assets/img-estados/img-para01.jpg" />
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Abacaxi</ion-card-title>
                <ion-card-subtitle>Descrição, Principais Clientes e Cidades Relevantes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                Produção: 1,029 milhão de toneladas <br><br> Valor gerado: R$ 520 milhões <br><br> Descrição: Consumido in natura ou na indústria de sucos e conservas. Região de Paragominas destaca-se como maior polo produtor. <br><br> Principais Clientes:
                São Paulo (SP), Belo Horizonte (MG), Brasília (DF) <br><br> Cidades Relevantes: Paragominas (PA), Capitão Poço (PA)
            </ion-card-content>
            <ion-card-content>
                <img alt="Abacaxi" src="../../../assets/img-estados/img-para02.jpg" />
            </ion-card-content>
        </ion-card>
    </ion-list>

    <ion-card>
        <ion-card-header>
            <ion-card-title>🌾 Região Sul do Pará</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            A Região Sul do Pará é focada no agronegócio, com grandes propriedades e uso de tecnologia avançada para a produção de grãos e commodities.
        </ion-card-content>
    </ion-card>

    <ion-list>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Soja</ion-card-title>
                <ion-card-subtitle>Descrição, Principais Clientes e Cidades Relevantes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                Produção: 540 mil toneladas (179,6 mil hectares) <br><br> Valor gerado: R$ 8,32 bilhões <br><br> Descrição: Alta demanda para ração animal, óleo vegetal e biocombustíveis. Produção mecanizada. <br><br> Principais Clientes: Xangai (China),
                Hamburgo (Alemanha), Jacarta (Indonésia) <br><br> Cidades Relevantes: Redenção (PA), Conceição do Araguaia (PA)
            </ion-card-content>
            <ion-card-content>
                <img alt="Soja" src="../../../assets/img-estados/img-para03.jpg" />
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Milho</ion-card-title>
                <ion-card-subtitle>Descrição, Principais Clientes e Cidades Relevantes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                Produção: 1,2 milhão de toneladas <br><br> Valor gerado: R$ 3,74 bilhões <br><br> Descrição: Produzido tanto para consumo humano quanto ração animal, com destaque para a safra de milho safrinha. <br><br> Principais Clientes: Cairo (Egito),
                Tóquio (Japão), Seul (Coreia do Sul) <br><br> Cidades Relevantes: Paragominas (PA), Ulianópolis (PA)
            </ion-card-content>
            <ion-card-content>
                <img alt="Milho" src="../../../assets/img-estados/img-para04.jpg" />
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Trigo</ion-card-title>
                <ion-card-subtitle>Descrição, Principais Clientes e Cidades Relevantes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                Produção: 200 mil toneladas <br><br> Valor gerado: R$ 150 milhões <br><br> Descrição: Expansão das áreas de cultivo, atendendo à demanda interna por farinha de trigo. <br><br> Principais Clientes: Buenos Aires (Argentina), Luanda (Angola),
                Roma (Itália) <br><br> Cidades Relevantes: Dom Eliseu (PA), Rondon do Pará (PA)
            </ion-card-content>
            <ion-card-content>
                <img alt="Trigo" src="../../../assets/img-estados/img-para05.jpg" />
            </ion-card-content>
        </ion-card>
    </ion-list>

    <ion-card>
        <ion-card-header>
            <ion-card-title>🍫 Região Leste do Pará</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            A Região Leste do Pará é caracterizada pela agricultura familiar combinada com grandes produções comerciais, com destaque para produtos extrativistas e especiarias.
        </ion-card-content>
    </ion-card>

    <ion-list>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Pimenta-do-reino</ion-card-title>
                <ion-card-subtitle>Descrição, Principais Clientes e Cidades Relevantes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                Produção: 42,1 mil toneladas <br><br> Valor gerado: R$ 470,7 milhões <br><br> Descrição: Produto com grande demanda para exportação. Principal produtor é Tomé-Açu. <br><br> Principais Clientes: Nova York (EUA), Berlim (Alemanha), Toronto
                (Canadá) <br><br> Cidades Relevantes: Tomé-Açu (PA), Acará (PA)
            </ion-card-content>
            <ion-card-content>
                <img alt="Pimenta-do-reino" src="../../../assets/img-estados/img-para06.jpg" />
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Castanha-do-Pará</ion-card-title>
                <ion-card-subtitle>Descrição, Principais Clientes e Cidades Relevantes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                Produção: Extração anual variável <br><br> Valor gerado: Alto valor agregado em mercados internacionais <br><br> Descrição: Produto extrativo, exportado principalmente para os EUA e Europa, valorizado por suas qualidades nutricionais.
                <br><br> Principais Clientes: EUA, Alemanha, Japão <br><br> Cidades Relevantes: Marabá (PA), Abaetetuba (PA)
            </ion-card-content>
            <ion-card-content>
                <img alt="Castanha-do-Pará" src="../../../assets/img-estados/img-para07.jpg" />
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Açúcar (Cana-de-açúcar)</ion-card-title>
                <ion-card-subtitle>Descrição, Principais Clientes e Cidades Relevantes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                Produção: Mais de 30 milhões de toneladas <br><br> Valor gerado: R$ 15 bilhões <br><br> Descrição: A cana-de-açúcar é processada para produção de açúcar, etanol e bioeletricidade, essencial para a economia da região. <br><br> Principais
                Clientes: China, Emirados Árabes, Indonésia <br><br> Cidades Relevantes: Tailândia (PA), Moju (PA)
            </ion-card-content>
            <ion-card-content>
                <img alt="Açúcar" src="../../../assets/img-estados/img-para08.jpg" />
            </ion-card-content>
        </ion-card>
    </ion-list>

    <ion-card>
        <ion-card-header>
            <ion-card-title>🌽 Região Oeste do Pará</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            A Região Oeste do Pará combina uma agricultura diversificada e uma crescente expansão de fronteiras agrícolas, com destaque para culturas alimentares e agroflorestais.
        </ion-card-content>
    </ion-card>

    <ion-list>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Mandioca</ion-card-title>
                <ion-card-subtitle>Descrição, Principais Clientes e Cidades Relevantes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                Produção: Aproximadamente 1,2 milhão de toneladas <br><br> Descrição: Utilizada na alimentação local e em derivados como farinha, goma e tapioca. <br><br> Principais Clientes: Belém (PA), Manaus (AM), Macapá (AP) <br><br> Cidades Relevantes:
                Santarém (PA), Juruti (PA)
            </ion-card-content>
            <ion-card-content>
                <img alt="Mandioca" src="../../../assets/img-estados/img-para09.jpg" />
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Cacau</ion-card-title>
                <ion-card-subtitle>Descrição, Principais Clientes e Cidades Relevantes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                Produção: Cerca de 130 mil toneladas <br><br> Descrição: Cultivado em sistemas agroflorestais, o cacau do Pará é valorizado pela qualidade e sustentabilidade, utilizado na fabricação de chocolates premium. <br><br> Principais Clientes:
                Bélgica, França, Estados Unidos <br><br> Cidades Relevantes: Medicilândia (PA), Uruará (PA)
            </ion-card-content>
            <ion-card-content>
                <img alt="Cacau" src="../../../assets/img-estados/img-para10.jpg" />
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Arroz</ion-card-title>
                <ion-card-subtitle>Descrição, Principais Clientes e Cidades Relevantes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                Produção: 220 mil toneladas <br><br> Descrição: Cultivado principalmente em sistemas irrigados e nas áreas de várzea, o arroz é uma das principais fontes de alimento para a região. <br><br> Principais Clientes: São Paulo (SP), Fortaleza
                (CE), Recife (PE) <br><br> Cidades Relevantes: Santarém (PA), Monte Alegre (PA)
            </ion-card-content>
            <ion-card-content>
                <img alt="Arroz" src="../../../assets/img-estados/img-para11.jpg" />
            </ion-card-content>
        </ion-card>
    </ion-list>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Clientes dos Produtos do Pará</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-list>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Feijão</ion-card-title>
                <ion-card-subtitle>Principais Clientes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Brasil:</b> Belém (PA), São Paulo (SP), Recife (PE)</li>
                    <li><b>Internacional:</b> Argentina, Estados Unidos</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Açaí</ion-card-title>
                <ion-card-subtitle>Principais Clientes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Brasil:</b> São Paulo (SP), Manaus (AM), Belém (PA)</li>
                    <li><b>Internacional:</b> Nova York (EUA), Paris (França), Londres (Reino Unido)</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Abacaxi</ion-card-title>
                <ion-card-subtitle>Principais Clientes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Brasil:</b> São Paulo (SP), Belo Horizonte (MG), Brasília (DF)</li>
                    <li><b>Internacional:</b> Estados Unidos, Europa</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Soja</ion-card-title>
                <ion-card-subtitle>Principais Clientes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Brasil:</b> São Paulo (SP), Rio de Janeiro (RJ), Goiás (GO)</li>
                    <li><b>Internacional:</b> Xangai (China), Hamburgo (Alemanha), Jacarta (Indonésia)</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Milho</ion-card-title>
                <ion-card-subtitle>Principais Clientes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Brasil:</b> São Paulo (SP), Fortaleza (CE), Recife (PE)</li>
                    <li><b>Internacional:</b> Cairo (Egito), Tóquio (Japão), Seul (Coreia do Sul)</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Pimenta-do-reino</ion-card-title>
                <ion-card-subtitle>Principais Clientes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Brasil:</b> Belém (PA), São Paulo (SP), Recife (PE)</li>
                    <li><b>Internacional:</b> Nova York (EUA), Berlim (Alemanha), Toronto (Canadá)</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Castanha-do-Pará</ion-card-title>
                <ion-card-subtitle>Principais Clientes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Internacional:</b> EUA, Alemanha, Japão</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Açúcar (Cana-de-açúcar)</ion-card-title>
                <ion-card-subtitle>Principais Clientes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Internacional:</b> China, Emirados Árabes, Indonésia</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Mandioca</ion-card-title>
                <ion-card-subtitle>Principais Clientes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Brasil:</b> Belém (PA), Manaus (AM), Macapá (AP)</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Cacau</ion-card-title>
                <ion-card-subtitle>Principais Clientes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Internacional:</b> Bélgica, França, Estados Unidos</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Arroz</ion-card-title>
                <ion-card-subtitle>Principais Clientes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Brasil:</b> São Paulo (SP), Fortaleza (CE), Recife (PE)</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Trigo</ion-card-title>
                <ion-card-subtitle>Principais Clientes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Brasil:</b> Paraná (PR), Rio Grande do Sul (RS), São Paulo (SP)</li>
                    <li><b>Internacional:</b> Buenos Aires (Argentina), Luanda (Angola), Roma (Itália)</li>
                </ul>
            </ion-card-content>
        </ion-card>
    </ion-list>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Maior Produção dos Produtos do Pará</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-list>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Feijão</ion-card-title>
                <ion-card-subtitle>Cidades com Maior Produção</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Região Norte:</b> Santarém (PA), Almeirim (PA)</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Açaí</ion-card-title>
                <ion-card-subtitle>Cidades com Maior Produção</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Região Norte:</b> Belém (PA), Santarém (PA)</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Abacaxi</ion-card-title>
                <ion-card-subtitle>Cidades com Maior Produção</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Região Norte:</b> Paragominas (PA), Capitão Poço (PA)</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Soja</ion-card-title>
                <ion-card-subtitle>Cidades com Maior Produção</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Região Sul:</b> Redenção (PA), Conceição do Araguaia (PA)</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Milho</ion-card-title>
                <ion-card-subtitle>Cidades com Maior Produção</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Região Sul:</b> Paragominas (PA), Ulianópolis (PA)</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Trigo</ion-card-title>
                <ion-card-subtitle>Cidades com Maior Produção</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Região Sul:</b> Dom Eliseu (PA), Rondon do Pará (PA)</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Pimenta-do-reino</ion-card-title>
                <ion-card-subtitle>Cidades com Maior Produção</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Região Leste:</b> Tomé-Açu (PA), Acará (PA)</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Castanha-do-Pará</ion-card-title>
                <ion-card-subtitle>Cidades com Maior Produção</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Região Leste:</b> Marabá (PA), Abaetetuba (PA)</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Açúcar (Cana-de-açúcar)</ion-card-title>
                <ion-card-subtitle>Cidades com Maior Produção</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Região Leste:</b> Tailândia (PA), Moju (PA)</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Mandioca</ion-card-title>
                <ion-card-subtitle>Cidades com Maior Produção</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Região Oeste:</b> Santarém (PA), Juruti (PA)</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Cacau</ion-card-title>
                <ion-card-subtitle>Cidades com Maior Produção</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Região Oeste:</b> Medicilândia (PA), Uruará (PA)</li>
                </ul>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Arroz</ion-card-title>
                <ion-card-subtitle>Cidades com Maior Produção</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li><b>Região Oeste:</b> Santarém (PA), Monte Alegre (PA)</li>
                </ul>
            </ion-card-content>
        </ion-card>
    </ion-list>

</ion-content>