<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-img src="../../assets/inicio/logo.png"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <h2 class="titulo-app">Clique em um estado para conhecer as características e descobrir quais produções em cada região do Brasil!</h2>

    <div style="text-align: center;">
        <img style="margin: 0 auto;" src="../../assets/inicio/brasil.png" usemap="#image-map" id="mapa-brasil-img">
    </div>

    <div class="card-regiao">
        <img class="img-info" src="../../assets/inicio/info.png">
        <img class="img-regiao" src="../../assets/inicio/bussola.png">
    </div>

    <map name="image-map">
    <area target="" alt="Rio Grande do Sul" title="Rio Grande do Sul" href="sul/riograndedosul" coords="227,405,280,441"
      shape="rect" data-coords-originais="227,405,280,441">
    <area target="" alt="Santa Catarina" title="Santa Catarina" href="sul/santacatarina" coords="257,385,302,401"
      shape="rect" data-coords-originais="257,385,302,401">
    <area target="" alt="Paraná" title="Paraná" href="sul/parana" coords="250,352,289,379" shape="rect"
      data-coords-originais="250,352,289,379">
    <area target="" alt="São Paulo" title="São Paulo" href="sudeste/sao-paulo" coords="281,329,323,355" shape="rect"
      data-coords-originais="281,329,323,355">
    <area target="" alt="Rio de Janeiro" title="Rio de Janeiro" href="sudeste/rio-de-janeiro" coords="359,336,388,346"
      shape="rect" data-coords-originais="359,336,388,346">
    <area target="" alt="Minas Gerais" title="Minas Gerais" href="sudeste/minas-gerais" coords="326,270,377,334"
      shape="rect" data-coords-originais="326,270,377,334">
    <area target="" alt="Espírito Santo" title="Espírito Santo" href="sudeste/espirito-santo" coords="387,297,399,324"
      shape="rect" data-coords-originais="387,297,399,324">
    <area target="" alt="Mato Grosso" title="Mato Grosso" href="centrooeste/mato-grosso" coords="183,208,276,271"
      shape="rect" data-coords-originais="183,208,276,271">
    <area target="" alt="Mato Grosso do Sul" title="Mato Grosso do Sul" href="centrooeste/mato-grosso-do-sul"
      coords="208,298,262,345" shape="rect" data-coords-originais="208,298,262,345">
    <area target="" alt="Goias" title="Goias" href="centrooeste/goias" coords="277,253,306,298" shape="rect"
      data-coords-originais="277,253,306,298">
    <area target="" alt="Distrito Federal" title="Distrito Federal" href="centrooeste/distrito-federal"
      coords="307,267,320,274" shape="rect" data-coords-originais="307,267,320,274">
    <area target="" alt="Amazonas" title="Amazonas" href="norte/amazonas" coords="76,112,198,188" shape="rect"
      data-coords-originais="76,112,198,188">
    <area target="" alt="Pará" title="Pará" href="norte/para" coords="220,110,289,201" shape="rect"
      data-coords-originais="220,110,289,201">
    <area target="" alt="Rondônia" title="Rondônia" href="norte/rondonia" coords="127,199,174,235" shape="rect"
      data-coords-originais="127,199,174,235">
    <area target="" alt="Roraima" title="Roraima" href="norte/roraima" coords="152,51,190,100" shape="rect"
      data-coords-originais="152,51,190,100">
    <area target="" alt="Tocantins" title="Tocantins" href="norte/tocantins" coords="291,191,322,237" shape="rect"
      data-coords-originais="291,191,322,237">
    <area target="" alt="Amapá" title="Amapá" href="norte/amapa" coords="252,57,288,105" shape="rect"
      data-coords-originais="252,57,288,105">
    <area target="" alt="Acre" title="Acre" href="norte/acre" coords="29,190,99,232" shape="rect"
      data-coords-originais="29,190,99,232">
    <area target="" alt="Bahia" title="Bahia" href="nordeste/bahia" coords="341,208,413,259" shape="rect"
      data-coords-originais="341,208,413,259">
    <area target="" alt="Sergipe" title="Sergipe" href="nordeste/sergipe" coords="421,207,434,223" shape="rect"
      data-coords-originais="421,207,434,223">
    <area target="" alt="Alagoas" title="Alagoas" href="nordeste/alagoas" coords="425,198,444,205" shape="rect"
      data-coords-originais="425,198,444,205">
    <area target="" alt="Pernambuco" title="Pernambuco" href="nordeste/pernambuco" coords="396,185,446,196" shape="rect"
      data-coords-originais="396,185,446,196">
    <area target="" alt="Paraíba" title="Paraíba" href="nordeste/paraiba" coords="415,172,449,179" shape="rect"
      data-coords-originais="415,172,449,179">
    <area target="" alt="Rio Grande do Norte" title="Rio Grande do Norte" href="nordeste/rio-grande-do-norte"
      coords="425,157,444,166" shape="rect" data-coords-originais="425,157,444,166">
    <area target="" alt="Ceará" title="Ceará" href="nordeste/ceara" coords="393,138,415,177" shape="rect"
      data-coords-originais="393,138,415,177">
    <area target="" alt="Piaui" title="Piaui" href="nordeste/piaui" coords="391,156,354,201" shape="rect"
      data-coords-originais="391,156,354,201">
    <area target="" alt="Maranhão" title="Maranhão" href="nordeste/maranhao" coords="316,132,354,172" shape="rect"
      data-coords-originais="316,132,354,172">
  </map>
</ion-content>