<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="Voltar" style="color: black;"></ion-back-button>
        </ion-buttons>
        <ion-img class="logo" src="../../assets/inicio/logo.png"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-title>Tocantins</ion-title>

    <div class="imagem-container">
        <img src="../../../assets/estados/TO.png" alt="Imagem de Tocantins">
    </div>

    <div id="offline-alert" class="offline-alert">
        ⚠️ Você está offline. O mapa pode não funcionar corretamente.
    </div>

    <div class="mapa-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4031661.190746319!2d-48.22066435!3d-9.318277649999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9323501f52b13997%3A0xe3d4866245cc396c!2sTocantins!5e0!3m2!1spt-BR!2sbr!4v1744669454730!5m2!1spt-BR!2sbr"
            sandbox="allow-scripts allow-same-origin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Região Norte de Tocantins</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p><strong>Produção Principal:</strong> Pecuária bovina.</p>
            <p><strong>Quantidade Produzida:</strong> Em 2019, o estado possuía um rebanho de aproximadamente 8 milhões de cabeças de gado.</p>
            <p><strong>Geração de Riqueza:</strong> A carne bovina é um dos principais produtos de exportação do Tocantins, representando cerca de 20,29% das exportações em 2012.</p>
            <p><strong>Principais Cidades:</strong> Araguaína.</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Região Sul de Tocantins</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p><strong>Produção Principal:</strong> Agricultura de grãos, especialmente soja e milho.</p>
            <p><strong>Quantidade Produzida:</strong> Na safra de 2019, o Tocantins colheu 3 milhões de toneladas de soja e cerca de 1 milhão de toneladas de milho.</p>
            <p><strong>Geração de Riqueza:</strong> A soja representou 69,37% das exportações do estado em 2012.</p>
            <p><strong>Principais Cidades:</strong> Gurupi, Palmeirópolis.</p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Região Leste de Tocantins</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p><strong>Produção Principal:</strong> Cultivo de arroz.</p>
            <p><strong>Quantidade Produzida:</strong> Em 2019, o Tocantins foi líder na produção de arroz na Região Norte, colhendo mais de 670 mil toneladas na safra 2016/2017.</p>
            <p><strong>Geração de Riqueza:</strong> O arroz contribui significativamente para a economia agrícola do estado.</p>
            <p><strong>Principais Cidades:</strong> Paraíso do Tocantins.</p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Região Oeste de Tocantins</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p><strong>Produção Principal:</strong> Fruticultura, com destaque para o abacaxi.</p>
            <p><strong>Quantidade Produzida:</strong> Em 2018, o Tocantins foi o sexto maior produtor de abacaxi do Brasil, com 69 milhões de frutos.</p>
            <p><strong>Geração de Riqueza:</strong> A fruticultura é uma importante fonte de renda para os produtores locais.</p>
            <p><strong>Principais Cidades:</strong> Porto Nacional.</p>
        </ion-card-content>
    </ion-card>
</ion-content>