<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="Voltar" style="color: black;"></ion-back-button>
        </ion-buttons>
        <ion-img class="logo" src="../../assets/inicio/logo.png"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-title>Ceará</ion-title>

    <div class="imagem-container">
        <img src="../../../assets/estados/CE.png" alt="Imagem de Ceará">
    </div>

    <div id="offline-alert" class="offline-alert">
        ⚠️ Você está offline. O mapa pode não funcionar corretamente.
    </div>

    <div class="mapa-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4067966.6331250328!2d-39.33808825!3d-5.321252899999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7bdb31827e686c5%3A0x3bb435e0af957842!2zQ2VhcsOh!5e0!3m2!1spt-BR!2sbr!4v1744670242611!5m2!1spt-BR!2sbr"
            sandbox="allow-scripts allow-same-origin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Região Norte de Ceará</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <strong>● Indústria de Alimentos e Bebidas:</strong> É destacado na indústria de alimentos e bebidas, especialmente a industrialização de frutas e a produção de sucos, além da fabricação de cachaça. (Em 2024, a indústria de alimentos
                        e bebidas do Ceará faturou R$ 17 bilhões, que equivale a 283 milhões de toneladas)
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <strong>● Cliente: Os top 3 principais clientes são:</strong>
                        <ol>
                            <li><strong>Três Corações</strong> (Grande empresa do setor de café, com diversas marcas e produtos) </li><br>
                            <li><strong>M. Dias Branco</strong> (produz biscoitos, massas, farinha de trigo, margarinas e outros produtos) </li><br>
                            <li><strong>Coca-Cola</strong> (Produz e distribui refrigerantes, sucos, água e outras bebidas).</li><br>
                        </ol>
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <strong>● Cidades: As principais cidades são:</strong>
                        <ol>
                            <li><strong>Itapipoca: </strong>A cidade se destaca na produção de coco e castanha de caju </li><br>
                            <li><strong>Serra da Ibiapaba</strong> É conhecida pela produção de frutas e hortaliças, impulsionada pelo clima ameno da serra. </li><br>
                            <li><strong>Limoeiro do Norte:</strong> : Importante na produção de frutas irrigadas, como melão, melancia, banana e coco-da-baía.</li><br>
                        </ol>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Região Leste de Ceará</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <strong>● Pecuária: Criação de caprinos e ovinos:</strong> A região possui um rebanho significativo dessas espécies e a produção de camarão em cativeiro. (Em 2022, o rebanho bovino do Ceará era de 2,5 milhões de cabeças. Em 2023,
                        o Ceará produziu 290,3 milhões de dúzias de ovos de galinha.)
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <strong>● Valor total da produção pecuária:</strong> Em 2022, o valor total foi de R$ 116,3 bilhões.
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <strong>● Clientes: Os 3 principais clientes são:</strong>
                        <ol>
                            <li><strong>Betânia Lácteos</strong> (Produz leite, queijos, iogurtes e outros derivados)</li><br>
                            <li><strong>Friboi</strong> (Compra gado de produtores da região para abate e processamento)</li><br>
                            <li><strong>Italac</strong> (Compra leite de produtores da região para a produção de seus produtos)</li><br>
                        </ol>
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <strong>● Cidades: As principais cidades são:</strong>
                        <ol>
                            <li><strong>Redenção:</strong> Esta cidade se destaca na produção significativa de suínos.</li><br>
                            <li><strong>Russas:</strong> Município com diversificação na pecuária, tendo destaque na criação de gado.</li><br>
                            <li><strong>Beberibe:</strong> Destaca-se na produção de ovos, sendo um dos maiores produtores do estado.</li><br>
                        </ol>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Região Sul de Ceará</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <strong>● Mel de abelha:</strong> Em 2023, Santana do Cariri foi o município brasileiro que mais produziu mel de abelha, com quase 1,2 mil toneladas.
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <strong>● Agricultura familiar e produção de fava:</strong> Os produtores da agricultura familiar são responsáveis pelo cultivo de fava na região. Só em uma propriedade, a expectativa é colher 12 sacos por hectare.
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <strong>● Produção de mel no Ceará:</strong> O Ceará produziu 1,18 milhão de quilos de mel na cidade de Santana do Cariri.
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <strong>● Produção e exportação de mel:</strong> Em 2021, o Brasil produziu 55,8 mil toneladas de mel, com um valor de produção de R$ 854,4 milhões, resultando em um preço médio de aproximadamente R$ 15,31 por quilo. Aplicando
                        esse valor médio à produção cearense de 2023, o valor estimado seria de cerca de R$ 87,3 milhões.
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <strong>● Principais compradores de mel do Brasil:</strong> Os principais compradores são os Estados Unidos, a Alemanha e o Canadá. Em 2021, o Ceará exportou 2.039 toneladas de mel natural para o exterior, registrando US$ 9,750
                        milhões. O aumento da exportação foi devido ao crescimento da demanda dos Estados Unidos.
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <strong>● Cidades: As principais cidades são:</strong>
                        <ol>
                            <li><strong>Pacajus:</strong> Destaca-se como produtor emergente de mel.</li><br>
                            <li><strong>Limoeiro do Norte:</strong> Importante produtor de mel.</li><br>
                            <li><strong>Mombaça:</strong> Município com grande potencial produtivo de mel.</li><br>
                            <li><strong>Iguatu:</strong> Também se destaca na produção de mel de qualidade.</li><br>
                            <li><strong>Barbalha:</strong> Cidade com crescente produção de mel.</li><br>
                        </ol>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Região Oeste de Ceará</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <strong>● Produção de Coco:</strong> A região Oeste do Ceará se destaca na produção de coco, sendo um dos maiores produtores do Brasil.
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <strong>● Produção de coco:</strong> Aproximadamente 520 milhões de unidades de coco, colhidas em 42,7 mil hectares (ha), com rendimento médio de 12.146 frutos/ha. Cada hectare de coco plantado no Ceará produziu cerca de R$ 6 mil.
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <strong>● Clientes: Os top 3 principais clientes são:</strong>
                        <ol>
                            <li><strong>Natucoco</strong> (Parte do Grupo Telles, é conhecida por sua produção de água de coco e outros derivados.)</li><br>
                            <li><strong>Nosso Coco</strong> (Uma marca da empresa Paraipaba Agroindustrial, que se destaca pela produção de água de coco.)</li><br>
                            <li><strong>Dikoko</strong> (Uma das maiores empresas cearenses do setor, com uma vasta gama de produtos derivados do coco.)</li><br>
                        </ol>
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <strong>● Cidades: As principais cidades são:</strong>
                        <ol>
                            <li><strong>Itarema:</strong> Esta cidade também tem uma produção relevante e possui uma grande área de plantação de coco.</li><br>
                            <li><strong>Acaraú:</strong> Com uma produção significativa de coco, a cidade tem uma área total plantada de coco considerável.</li><br>
                        </ol>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>